<div class="row">
  <div class="col m6 offset-m3 s12">
    <a *ngIf="!showForm" (click)="showForm=true" class="btn-floating btn-large waves-effect waves-light green">
      <i class="material-icons">add</i>
    </a>
    <form *ngIf="showForm" #myForm="ngForm" novalidate
          (ngSubmit)="onSubmit(myForm)">
      <h5>New department</h5>
      <div class="input-field">
        <label for="id">Department id</label>
        <input type="text" id="id" name="id" ngModel required>
      </div>
      <div class="input-field">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ngModel required>
      </div>
      <div class="input-field">
        <label for="type">Type</label>
        <input type="text" id="type" name="type" ngModel required>
      </div>
<!--      <div class="input-field">-->
<!--        <label for="quantity">Employees Quantity</label>-->
<!--        <input type="number" id="quantity" name="employeesQuantity" ngModel required>-->
<!--      </div>-->
      <div class="form-group">
        <button type="button" (click)="showForm=false"
                class="rem-row btn-floating waves-effect waves-light left blue-grey">
          <i class="material-icons">keyboard_arrow_up</i>
        </button>
        <button type="submit" [disabled]="myForm.invalid"
                class="rem-row btn-floating waves-effect waves-light green right">
          <i class="material-icons">done</i>
        </button>
      </div>
    </form>
  </div>
</div>
