<div class="row">
  <div class="col m6 offset-m3 s12">
    <a *ngIf="!showForm" (click)="showForm=true" class="btn-floating btn-large waves-effect waves-light green">
      <i class="material-icons">add</i>
    </a>
    <form *ngIf="showForm" #myForm="ngForm" novalidate
          (ngSubmit)="onSubmit(myForm)">
      <h5>New group</h5>
      <div class="input-field">
        <label for="number">Group number</label>
        <input type="text" id="number" name="number" ngModel required>
      </div>
      <div class="input-field">
        <label for="faculty">Faculty</label>
        <input type="text" id="faculty" name="faculty" ngModel required>
      </div>
      <div class="input-field">
        <label for="speciality">Speciality</label>
        <input type="text" id="speciality" name="speciality" ngModel required>
      </div>
      <div class="input-field">
        <label for="quantity">Students Quantity</label>
        <input type="number" id="quantity" name="studentsQuantity" ngModel required>
      </div>
      <div class="form-group">
        <button type="button" (click)="showForm=false"
                class="rem-row btn-floating waves-effect waves-light left blue-grey">
          <i class="material-icons">keyboard_arrow_up</i>
        </button>
        <button type="submit" [disabled]="myForm.invalid"
                class="rem-row btn-floating waves-effect waves-light green right">
          <i class="material-icons">done</i>
        </button>
      </div>
    </form>
  </div>
</div>
