<div class="row valign-wrapper">
  <div class="col m3 offset-m3 s6 center-align">
    <h5>{{group.number}}</h5>
  </div>
  <div class="col m3 s6 center-align">
    <a class="btn-floating waves-effect waves-light blue"
       (click)="showInfo = !showInfo">
      <i *ngIf="showInfo" class="material-icons">keyboard_arrow_up</i>
      <i *ngIf="!showInfo" class="material-icons">keyboard_arrow_down</i>
    </a>
  </div>
</div>
<div class="info" *ngIf="showInfo">
  <div class="input-filed">
    <label for="number" class="active">Group number</label>
    <input id="number" [(ngModel)]="group.number" type="text" class="validate">
  </div>
  <div class="input-field">
    <label for="faculty" class="active">Faculty</label>
    <input type="text" id="faculty" [(ngModel)]="group.faculty">
  </div>
  <div class="input-field">
    <label for="speciality" class="active">Speciality</label>
    <input type="text" id="speciality" [(ngModel)]="group.speciality" class="validate">
  </div>
  <div class="input-field">
    <label for="quantity" class="active">Students quantity</label>
    <input type="number" id="quantity" [(ngModel)]="group.studentsQuantity" class="validate">
  </div>
  <a class="rem-row btn-floating waves-effect waves-light red"
     (click)="delGroup()">
    <i class="material-icons">delete</i>
  </a>
</div>
